In [1]:
# Import necessary libraries
import pandas as pd

# Load the dataset with the correct encoding
file_path = 'games_sales.csv'
df = pd.read_csv(file_path, encoding='latin1')

# Display the first few rows to understand the structure
print("Initial Dataset:")
display(df.head())

Initial Dataset:

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,Dec-17,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,Nov-11,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,May-12,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,Nov-06,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,May-11,Action-adventure,Re-Logic,Re-Logic

In [2]:
# Create: Insert new records into the dataset
new_data = {
    'Name': 'New Game',
    'Sales': 5.0,
    'Series': 'New Series',
    'Release': 'Jul-24',
    'Genre': 'Action',
    'Developer': 'New Dev',
    'Publisher': 'New Publisher'
}

# Convert new_data to a DataFrame
new_df = pd.DataFrame([new_data])

# Use concat to add the new row
df = pd.concat([df, new_df], ignore_index=True)
print("\nDataset after adding a new record:")
display(df.tail())  
#Displays the last few rows of the DataFrame to show the newly added record.
# Save the updated dataset back to CSV
df.to_csv(file_path, index=False, encoding='latin1')
#Saves the updated DataFrame back to the CSV file.

Dataset after adding a new record:

,Name,Sales,Series,Release,Genre,Developer,Publisher
171,Warhammer Online: Age of Reckoning,1.0,Warhammer,Sep-08,MMORPG,Mythic Entertainment,Electronic Arts
172,Who Wants to Be a Millionaire?,1.0,NaN,Nov-99,Trivia game,Jellyvision,Disney Interactive Studios
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,Dec-94,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,Oct-01,Business simulation,Microsoft,Blue Fang Games
175,New Game,5.0,New Series,Jul-24,Action,New Dev,New Publisher

In [3]:
# Read: Retrieve and display specific records from the dataset
# Example: Fetching all records where Sales > 20
filtered_df = df[df['Sales'] > 20]
print("\nRecords where Sales > 20:")
display(filtered_df)

Records where Sales > 20:

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,Dec-17,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,Nov-11,"Sandbox, survival",Mojang Studios,Mojang Studios

In [4]:
# Update: Modify existing records in the dataset
# Example: Update the 'Sales' of 'New Game' to 10.0
df.loc[df['Name'] == 'New Game', 'Sales'] = 10.0
print("\nDataset after updating 'New Game' sales to 10.0:")
display(df[df['Name'] == 'New Game'])

# Save the updated dataset back to CSV
df.to_csv(file_path, index=False, encoding='latin1')

Dataset after updating 'New Game' sales to 10.0:

         Name  Sales      Series Release   Genre Developer      Publisher
175  New Game   10.0  New Series  Jul-24  Action   New Dev  New Publisher

In [5]:
# Delete: Remove specific records from the dataset
# Example: Remove the record for 'New Game'
df = df[df['Name'] != 'New Game']
print("\nDataset after deleting 'New Game':")
display(df.tail())

# Save the updated dataset back to CSV
df.to_csv(file_path, index=False, encoding='latin1')

Dataset after deleting 'New Game':

,Name,Sales,Series,Release,Genre,Developer,Publisher
170,Vietcong,1.0,Vietcong,Mar-03,Tactical shooter,Pterodon,Gathering of Developers
171,Warhammer Online: Age of Reckoning,1.0,Warhammer,Sep-08,MMORPG,Mythic Entertainment,Electronic Arts
172,Who Wants to Be a Millionaire?,1.0,NaN,Nov-99,Trivia game,Jellyvision,Disney Interactive Studios
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,Dec-94,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,Oct-01,Business simulation,Microsoft,Blue Fang Games